{% extends "model-page.html" %}

{% block content %}

    {% include "menu.html" %}
    
    <h1>Agendamentos</h1>

    <div class="container pb-2">
        <a href="event/">
            <button class="btn btn-info" type="button">Novo evento</button>
        </a>
    </div>

    {% include "alert.html" %}

    <table class="table align-middle table-active table-striped table-hover table-responsive-sm">
        <thead class="table-success">
            <tr>
                <th>Event</th>
                <th>Data - time</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr class="{% if event.get_event_late %} 
                        table-danger
                    {% endif %}">
                <td>
                    <a data-bs-toggle="modal" 
                        data-bs-target="#staticBackdrop{{ event.id }}"
                        href=""
                        class="link-dark">
                        {{ event.title }}
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" 
                        id="staticBackdrop{{ event.id }}" 
                        data-bs-backdrop="static" 
                        data-bs-keyboard="false" 
                        tabindex="-1"
                        aria-labelledby="staticBackdropLabel" 
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" 
                                        id="staticBackdropLabel">
                                        {{ event.title }}
                                    </h1>
                                    <button type="button" 
                                        class="btn-close" 
                                        data-bs-dismiss="modal" 
                                        aria-label="Close">
                                    </button>
                                </div><!-- div modal-header -->
                                <div class="modal-body">
                                    <strong>Description: </strong>
                                    {{ event.description }}
                                </div><!-- div modal-body -->
                                <div class="modal-body p-2 text-end">
                                    <strong>Date: </strong>
                                    {{ event.date_event }}
                                </div><!-- div modal-body -->
                                <div class="modal-footer">
                                    <button type="button" 
                                        class="btn btn-secondary" 
                                        data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <!-- <button type="button" class="btn btn-primary">Finished</button> -->
                                </div><!-- div modal-footer -->
                            </div><!-- div modal-content-->
                        </div><!-- div modal-dialog -->
                    </div><!-- div modal fade -->
                </td>
                <td>
                    {{ event.get_date_event }}
                </td>
                <td class="text-center">
                    <a href="event/?id={{ event.id }}">
                        <button class="btn btn-warning">Edit</button>
                    </a>
                    <a href="event/delet/{{ event.id }}/" onclick="return confirm('Você tem certeza que deseja deletar?');">
                        <button class="btn btn-danger">Delet</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}