{% extends "model-page.html" %}

{% block content %}
<div class="container mt-3">
    <h3>Login</h3>

    {% for message in messages %}
        <div class="error">
            <strong>Error! </strong>{{ message }}
        </div><!-- div error -->
    {% endfor %}
    <form class="was-validated" action="submit" method="post">
        <div class="mb-3">
            {% csrf_token %}
            <label class="form-label" for="username">
                Usuário: 
            </label>
            <input 
                class="form-control" 
                type="text" 
                name="username" 
                id="username"
                placeholder="Enter username"
                required
            />
        </div><!-- div mb-3 -->
        <div class="mb-3">
            <label class="form-label" for="password">
                Senha: 
            </label>
            <input 
                class="form-control" 
                type="password" 
                name="password" 
                id="password"
                placeholder="Enter password"
                required
            />
        </div><!-- div mb-3 -->

        <div class="form-check mb-3">
            <input 
                class="form-check-input" 
                type="checkbox" 
                id="myCheck"  
                name="remember" 
                required>
            <label class="form-check-label" for="myCheck">
                I'm not robot.
            </label>
            <div class="valid-feedback">
                Valid.
            </div>
            <div class="invalid-feedback">
                Check this checkbox to continue.
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Entrar</button>
    </form>
</div><!-- div container -->

{% endblock %}