<div class="container bg-primary rounded-3">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/event/?events=old">Old events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/event/?events=all">All events</a>
                    </li>
                </ul>
            </div>

            <form class="d-flex input-group w-auto">
                <input
                    type="search"
                    class="form-control"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="search-addon"
                />
                <button class="btn btn-outline-light">Buscar</button>
            </form>
        </div><!-- div container-fluid -->
    
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">
                        <button class="btn btn-sm btn-secondary">
                            logout
                        </button>
                    </a>
                </li>
            </ul>
        </div><!-- div nav-bar -->
    </nav>
</div><!-- div container -->