<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "model-header.html" %}
</head>
<body>
    <div class="p-2 bg-dark text-white text-center">
        <h1>Appointment Book</h1>
        <p>I created a responsive page with Python and Django, using the Bootstrap.</p> 
    </div>
    
    <div class="container">
        {% block content %} {% endblock %}
    </div><!-- div container -->

    <div class="modal-footer p-4 bg-dark text-white">
        {% include "model-footer.html" %}
    </div><!-- div modal-footer -->
</body>
</html>